{
  "extends": [
    "airbnb/base",
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.ts",
          "**/*.spec.ts"
        ]
      }
    ],
    "prettier/prettier": "error",
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "no-cond-assign": [
      "error",
      "except-parens"
    ]
  },
  "env": {
    "jest": true
  }
}
